<section class="section1">
      <header> 
            <a href="/", id="img_home_link"><img src="/logo-no-background.png", alt="quaestus home"></a>
      </header>
      <div id="aboutUs">
      <h2>About Us</h2>
      <h3> Our team consists of Marc, a former high school football player who just recently got back into weightlifting;
           Ben, a fitness enthusiast who has experience in both weightlifting and climbing; 
           Gabriel, an avid tennis player with a passion for competitive sports; 
           and Abdulelah, A major soccer fan with an interest in cooking.
           Together, we have created this website to share our knowledge and expertise with others who are looking to improve
           their health and fitness. We believe that fitness should be accessible and achievable for everyone, and we aim to
           provide valuable information and resources to help our readers achieve their fitness goals.</h3>
      <a href="./LinkedIn">LinkedIn</a>
      </div>
</section>