<section class="section1">
      <header> 
            <a href="/", id="img_home_link"><img src="/logo-no-background.png", alt="quaestus home"></a>
      </header>
      <div id="aboutUs">
      <h2>About Us</h2>
      <h3>We should write a little about why we built this website, and who we are.</h3>
      <a href="./LinkedIn">LinkedIn</a>
      </div>
</section>