<p>Exercise</p>
<header>
    <div class="header-image-container">
        <img src="blue questus.png" alt=" Excersise page logo">
    </div>
    <h1 class="page-title"><a herf ="#">Exercise page</a>h1>

</header>

<main class="content">
    <aside class=" Filter-container">

  <button onclick="myFunction()" class="dropbtn">Exercises</button>
  <div id="myDropdown" class="dropdown-content">

    <div class="filter-input-container">
          <fieldset id="filter-condition" class="filter-fieldset">

            <legend>Exercise type</legend>
            <div>
              <input type="checkbox" name="filter-condition" id="filter-condition-back" value="back">
              <label for="filter-condition-new">Back</label>
            </div>
            <div>
                 <input type="checkbox" name="filter-condition" id="filter-condition-chest" value="chest">
              <label for="filter-condition-chest">chest </label>
            </div>
            <div>
                 <input type="checkbox" name="filter-condition" id="filter-condition-arms" value="arms">
              <label for="filter-condition-arms">arms</label>
            </div>
            <div>
                 <input type="checkbox" name="filter-condition" id="filter-condition-legs" value="legs">
              <label for="filter-condition-legs">legs</label>
            </div>
            <div>
                 <input type="checkbox" name="filter-condition" id="filter-condition-cardio" value="cardio">
              <label for="filter-condition-cardio">cardio</label>
            </div>
            <div>
                 <input type="checkbox" name="filter-condition" id="filter-condition-core" value="core">
              <label for="filter-condition-core">core</label>
            </div>
            </fieldset>
            </div>  
</div>
    
</main>