<link rel="stylesheet" href="/style_exercise.css">
<div class="exercise-header">
    <p>quaestus</p>
    <img src="logo_blue.png" a="#" alt=" Excersise page logo">
    <h1 class="page-title"><a herf ="#">/exercises</a><h1>
</div>

<aside class=" Excersise-filter-container">
  <div class="Excersise-filter-input-container">
  
    <input type="text" name="filter-text" id="filter-text" placeholder="Search exercises..">

    <button id="Search-update-button"></button>

  </div>
  <div class = "dropbtnclass">
  <button onclick="toggleExerciseFilter()" class="dropbtn">Exercises</button>
  </div>
  <div id="myDropdown" class="dropdown-content">
    <div class="filter-input-container">
      <fieldset id="filter-exercise" class="filter-fieldset">
        <legend>Exercise type</legend>
        <div>
          <input type="checkbox" name="filter-condition" id="filter-condition-back" value="back">
          <label for="filter-condition-new">Back</label>
        </div>
        <div>
              <input type="checkbox" name="filter-condition" id="filter-condition-chest" value="chest">
          <label for="filter-condition-chest">chest </label>
        </div>
        <div>
              <input type="checkbox" name="filter-condition" id="filter-condition-arms" value="arms">
          <label for="filter-condition-arms">arms</label>
        </div>
        <div>
              <input type="checkbox" name="filter-condition" id="filter-condition-legs" value="legs">
          <label for="filter-condition-legs">legs</label>
        </div>
        <div>
              <input type="checkbox" name="filter-condition" id="filter-condition-cardio" value="cardio">
          <label for="filter-condition-cardio">cardio</label>
        </div>
        <div>
              <input type="checkbox" name="filter-condition" id="filter-condition-core" value="core">
          <label for="filter-condition-core">core</label>
        </div>
      </fieldset>
    </div>
    <button id="filter-update-button" class="filter-excersise-button"> Update</button>
  </div>

</aside>  

  <section id="exercise-videos">
      {{#each exerciseData}}
        {{> exerciseElement}}
      {{/each}}
  </section>

  <section id="fade">
    
  </section>