<div class ="exercise-video"  data-name={{name}} data-type={{type}}>
    <div class="video">
        <iframe src={{videoURL}} title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="name">
        {{name}} 
    </div>
    <button id="like-button"></button>
</div>