<link rel="stylesheet" href="/style_exercise.css">
<header>
  <div class="exercise-header">
      <p>quaestus</p>
      <a href="/", id="img_home_link"><img src="/logo_blue.png" a="#" alt=" Excersise page logo"></a>
      <h1 class="page-title"><a herf ="/exercise">/exercises</a><h1>
  </div>
</header>

<aside class="Excersise-filter-container">
  <div class="Excersise-filter-input-container">
    <button onclick="toggleAddBtn()" id="create-button">+</button>
    <div id="addDropdown" class="dropdown-content">
      <div class="filter-input-container">
        <fieldset id="filter-exercise">
          <legend>Add Exercise</legend>
          <div>
            <input type="text" name="add-input" id="filter-condition-back" value="Name">
          </div>
          <div>
            <input type="text" name="add-input" id="filter-condition-chest" value="Type">
          </div>
          <div>
            <input type="text" name="add-input" id="filter-condition-arms" value="VideoURL">
          </div>
        </fieldset>
      </div>
      <button id="addbtn">Add</button>
    </div>

    <input type="text" name="filter-text" id="filter-text" placeholder="Search exercises..">

    <button id="Search-update-button"></button>

  </div>
  <div class = "dropbtnclass">
  <button onclick="toggleExerciseFilter()" class="dropbtn">Exercises</button>
  <button class="update-liked">Update Liked</button>
  </div>
  <div id="myDropdown" class="dropdown-content">
    <div class="filter-input-container">
      <fieldset id="filter-exercise" class="filter-fieldset">
        <legend>Exercise type</legend>
        <div>
          <input type="checkbox" name="filter-condition" id="filter-condition-back" value="Back">
          <label for="filter-condition-new">Back</label>
        </div>
        <div>
              <input type="checkbox" name="filter-condition" id="filter-condition-chest" value="Chest">
          <label for="filter-condition-chest">chest </label>
        </div>
        <div>
              <input type="checkbox" name="filter-condition" id="filter-condition-arms" value="Arms">
          <label for="filter-condition-arms">arms</label>
        </div>
        <div>
              <input type="checkbox" name="filter-condition" id="filter-condition-legs" value="Legs">
          <label for="filter-condition-legs">legs</label>
        </div>
        <div>
              <input type="checkbox" name="filter-condition" id="filter-condition-cardio" value="Cardio">
          <label for="filter-condition-cardio">cardio</label>
        </div>
        <div>
              <input type="checkbox" name="filter-condition" id="filter-condition-core" value="Core">
          <label for="filter-condition-core">core</label>
        </div>
      </fieldset>
    </div>
    <button id="filter-update-button" class="filter-excersise-button"> Update</button>
  </div>
</aside>

  <section id="exercise-videos">
      {{#each exerciseData}}
        {{> exerciseElement}}
      {{/each}}
  </section>

  <section id="fade">
    
  </section>

<section class="buffer1">
  <div class="about">
        <h1>No more posts down here!</h1>
        <p class="about-text">
            try visiting our recipe page.
        </p>
    </div>
</section>