<section class="section1">
    <header>
        <img src="/logo-no-background.png", alt="quaestus home">
    </header>
    <div id="go-to">
    <a href="#", id="exercise">exercise</a>
    <a href="#", id="diet">diet</a>
    <a href="#", id="about">about</a>
    </div>
</section>

<section class="buffer1">

</section>

<section class="section2">

</section> 