<body class="background">
    <div id="go-to">
        <a href="#", id="exercise">exercise</a>
        <a href="#", id="diet">diet</a>
        <a href="#", id="about">about</a>
    </div>
    <div id="scroll-box">
        <p>"Quote from someone."</p>
    </div>
</body>