<section class="section1">
    <header>
       <a href="/", id="img_home_link"><img src="/logo-no-background.png", alt="quaestus home"></a>
    </header>
    <div id="go-to">
    <a href="./exercise", id="exercise">exercise</a>
    <a href="./food", id="diet">diet</a>
    <a href="./about", id="about">about</a>
    </div>
</section>