<section class="section1">
    <header>
       <a href="/", id="img_home_link"><img src="/logo-no-background.png", alt="quaestus home"></a>
    </header>
    <div id="go-to">
    <a href="./exercise", id="exercise">exercise</a>
    <a href="./diet", id="diet">diet</a>
    <a href="./aboutUs", id="about">about us</a>
    </div>
</section>

<section class="buffer1">
    <div class="about">
        <h1>About this website</h1>
        <p class="about-text">
            write what the site is about.
        </p>
    </div>
</section>