<div id="slide">
    <div class="filter">
        <h3>Filter</h3>
        <p>PLACEHOLDER PLACEHOLDER</p>
        <label>PLACEHOLDER: </label>
        <input type="text" id="placeholder" name="placeholder">
        <label>PLACEHOLDER: </label>
        <input type="text" id="placeholder" name="placeholder">
        <label>PLACEHOLDER: </label>
        <input type="text" id="placeholder" name="placeholder">
    </div>
    <button id="filter-button">+</button>
</div>
   
<div>
    <h2>Welcome to Quaestus</h2>
    <p>PLACEHOLDER</p>
</div>