<section class="section1">
    <header> 
        <a href="/", id="img_home_link"><img src="/logo-no-background.png", alt="quaestus home"></a>
    </header>
    <div id="LinkedIn">
        <h2>LinkedIn profile links</h2>
        <div id="LinkedIn-links">
            <div id="g"><a href="https://www.linkedin.com/in/gabriele-falchini/">Gabriele Falchini</a></div>
            <div id="m"><a href="/">Marc Alexander</a></div>
            <div id="b"><a href="/">Ben Reed</a></div>
            <div id="a"><a href="/">Abdulelah Alanazai</a></div>
        </div>
      </div>
</section>