<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Quaestus (Working Title)</title>
        <link rel="stylesheet" href="/style.css">
        <script src="/index.js" charset="utf-8"></script>
    </head>
    
    <header>
        <img src="/blue_questus.png", alt="quaestus home">
    </header>

    <main class="content">

    <body>
        
        {{{body}}}

    </body>

    </main>
    

</html>