<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Quaestus</title>
        <link rel="icon" type="image/x-icon" href="/logo_blue.png" alt=" Excersise page logo">
        <link rel="stylesheet" href="/style.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Krona+One">
        <script src="/index.js" charset="utf-8"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>
        <script src="exerciseElement.js"></script>
    </head>

    <main class="content">

    <body>
        
        {{{body}}}

    </body>
    
    <section class="footer">
        <!-- Site footer -->
        <footer class="site-footer">
            <div class="container">
                <div class="row">
                    <h6>Quick Links</h6>
                    <ul class="footer-links">
                        <li><a href="./">Home</a></li>
                        <li><a href="./exercise">Exercise Page</a></li>
                        <li><a href="./aboutUs">About Us</a></li>
                        <li><a href="./LinkedIn">LinkedIn</a></li>
                    </ul>
                </div>
                <hr>
            </div>
        </footer>
    </section>
    </main>
</html>